body {
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #249be7, #003c62);
    font-family: "Arial";
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #fff;
    font-size: 70px;
    text-align: center;
    font-family: "Comic Sans MS";
}

.form {
    left: 50%;
    background: #ffffff;
    width: 50vw;
    max-width: 300px;
    padding: min(5vw, 40px) min(5vw, 40px) min(2.5vw, 20px) min(5vw, 40px);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0 0 20px;
    line-height: 1;
    color: #146FA9;
    font-size: 18px;
    font-weight: 400;
}

input {
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #565656;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
}

input:focus {
    color: #333;
    border: 1px solid #146FA9;
}

button {
    cursor: pointer;
    background: #146FA9;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

button:hover {
    background: #0b557c;
 }

.error {
    margin: 0 0 20px;
    display: none;
    color: #910000;
    font-size: 14px;
}