body {
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #249be7, #003c62);
    font-family: "Arial";
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #fff;
    font-size: 70px;
    text-align: center;
    font-family: "Comic Sans MS";
}

.form {
    background: #ffffff;
    width: 50vw;
    max-width: 300px;
    margin-bottom: 20px;
    padding: min(5vw, 40px) min(5vw, 40px) min(2.5vw, 20px) min(5vw, 40px);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0 0 20px;
    line-height: 1;
    color: #146FA9;
    font-size: 18px;
    font-weight: 400;
}

div {
    display: flex;
}

.buttonEmpty {
    background: rgba(20, 111, 169, 0);
    color: #000;
    border-width: 1px;
    border-color: #146FA9;
    margin-left: min(2.5vw, 20px);
}

.buttonFilled {
    background: #146FA9;
    color: #fff;
    border: 0;
}

button {
    cursor: pointer;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
}

.buttonFilled:hover {
    background: #0b557c;
}

.buttonEmpty:hover {
    background: #146FA9;
    color: #fff;
}

input {
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #565656;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
}

input:focus {
    color: #333;
    border: 1px solid #146FA9;
}

.error {
    margin: 0 0 20px;
    display: none;
    color: #910000;
    font-size: 14px;
}

footer > button {
    background: #cecece;
    cursor: pointer;
    width: 50vw;
    max-width: 300px;
    padding: 10px 15px;
    border: 0;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin-top: 2vmin;
    margin-left: min(5vw, 40px);
    margin-right: min(5vw, 40px);
    font-family: "Comic Sans MS";
}

footer > button:hover {
    background: #0b557c !important;
    color: #fff;
    text-decoration-line: underline;
}